body {
    background-color: #e1e1e4;
    color: #1a1820;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 20px;
    line-height: 1.5em;
}

hr {
    margin-top: 40px;
}

.content {
    display: flex;
    justify-content: center;
}


.main {
    max-width: 415px;
}

.skills {
    position: relative;
    left: -10px;
    font-family: 'Share Tech Mono', "Courier New", Courier, monospace;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    line-height: normal;
}

.skills-title {
    margin-bottom: 2px;
}

.animated-hand {
    display: inline-block;
    animation: rolling-icon 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

@keyframes rolling-icon {
    0% {
        transform: rotateZ(-10deg);
        transform-origin: bottom center;
        animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
    }

    50% {
        transform: rotateZ(30deg);
        transform-origin: bottom center;
        animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
    }

    100% {
        transform: rotateZ(-10deg);
        transform-origin: bottom center;
        animation-timing-function: cubic-bezier(1, 1, 1, 1);
    }
}

.signature {
    font-size: 0.8em;
}